In [116]:
import pandas as pd
import numpy as np

In [117]:
data=pd.read_csv("Bengaluru_House_Data.csv")

In [118]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [119]:
data.shape

(13320, 9)

In [120]:
for column in data.columns:
    print(data[column].value_counts())
    print(" ")

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [122]:
data1=pd.read_csv("Bengaluru_House_Data.csv")

In [123]:
data1=data1.drop(columns=['society','balcony'],axis=1)

In [124]:
df=data1
df['availability']=df['availability'].apply(lambda x:1 if x=='Ready To Move' else 0)
df.head()

,area_type,availability,location,size,total_sqft,bath,price
0,Super built-up Area,0,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,1,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,1,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,1,Kothanur,2 BHK,1200,2.0,51.00

In [125]:
df['availability'] = df['availability'].astype(float)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  float64
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   price         13320 non-null  float64
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

In [127]:
for column in data.columns:
    print(data[column].value_counts())
    print(" ")

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64

total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64

In [128]:
df.head()

,area_type,availability,location,size,total_sqft,bath,price
0,Super built-up Area,0.0,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,1.0,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,1.0,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,1.0,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,1.0,Kothanur,2 BHK,1200,2.0,51.00

In [129]:
df['bhk']=df['size'].str.split().str.get(0).astype(float)

In [130]:
df[df.bhk>20]

,area_type,availability,location,size,total_sqft,bath,price,bhk
1718,Super built-up Area,1.0,2Electronic City Phase II,27 BHK,8000,27.0,230.0,27.0
4684,Plot Area,1.0,Munnekollal,43 Bedroom,2400,40.0,660.0,43.0

In [131]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [132]:
def convertRange(x):
    # Extract digits and handle possible ranges
    x = ''.join(filter(lambda i: i.isdigit() or i == '-', x))
    
    if '-' in x:
        temp = x.split('-')
        if len(temp) == 2:
            result = (float(temp[0]) + float(temp[1])) / 2
        else:
            result = float(x)
    else:
        result = float(x)
    
    return result

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  float64
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   price         13320 non-null  float64
 7   bhk           13304 non-null  float64
dtypes: float64(4), object(4)
memory usage: 832.6+ KB

In [134]:
df['total_sqft']=df['total_sqft'].apply(convertRange)

In [135]:
df['total_sqft'].value_counts()

total_sqft
1200.0    843
1100.0    223
1500.0    208
2400.0    196
600.0     180
         ...
3580.0      1
2461.0      1
1437.0      1
2155.0      1
4689.0      1
Name: count, Length: 2026, dtype: int64

In [136]:
df.isna().sum()

area_type        0
availability     0
location         1
size            16
total_sqft       0
bath            73
price            0
bhk             16
dtype: int64

In [137]:
df.head()

,area_type,availability,location,size,total_sqft,bath,price,bhk
0,Super built-up Area,0.0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0
1,Plot Area,1.0,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4.0
2,Built-up Area,1.0,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0
3,Super built-up Area,1.0,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3.0
4,Super built-up Area,1.0,Kothanur,2 BHK,1200.0,2.0,51.00,2.0

In [138]:
df.drop(columns=['size'],axis=1,inplace=True)

In [139]:
df.head()

,area_type,availability,location,total_sqft,bath,price,bhk
0,Super built-up Area,0.0,Electronic City Phase II,1056.0,2.0,39.07,2.0
1,Plot Area,1.0,Chikka Tirupathi,2600.0,5.0,120.00,4.0
2,Built-up Area,1.0,Uttarahalli,1440.0,2.0,62.00,3.0
3,Super built-up Area,1.0,Lingadheeranahalli,1521.0,3.0,95.00,3.0
4,Super built-up Area,1.0,Kothanur,1200.0,2.0,51.00,2.0

In [140]:
df1=df.drop(columns=['location'],axis=1)

In [141]:
df.drop(columns=['availability'],axis=1,inplace=True)

In [142]:
df.isna().sum()

area_type      0
location       1
total_sqft     0
bath          73
price          0
bhk           16
dtype: int64

In [143]:
df['location']=df['location'].fillna('Sarjapur Road')

In [144]:
df['bhk']=df['bhk'].fillna(df['bhk'].median())

In [145]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [146]:
df['bhk'].value_counts()

bhk
2.0     5528
3.0     4873
4.0     1417
1.0      656
5.0      356
6.0      221
7.0      100
8.0       89
9.0       54
10.0      14
11.0       4
27.0       1
19.0       1
16.0       1
43.0       1
14.0       1
12.0       1
13.0       1
18.0       1
Name: count, dtype: int64

In [147]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']
df['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [148]:
df['location']=df['location'].apply(lambda x: x.strip())
location_count=df['location'].value_counts()
location_count

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [149]:
location_count_lt10=location_count[location_count<=10]
df['location']=df['location'].apply(lambda x: 'other' if x in location_count_lt10 else x)

In [150]:
df['location'].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [151]:
df.isna().sum()

area_type         0
location          0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

## outlier removal

In [152]:
df.describe()

          total_sqft          bath         price           bhk  price_per_sqft
count   13320.000000  13320.000000  13320.000000  13320.000000    1.332000e+04
mean     2481.247372      2.688814    112.565627      2.803979    9.431431e+03
std     13842.074340      1.338754    148.971674      1.294214    1.310193e+05
min         1.000000      1.000000      8.000000      1.000000    3.475354e+01
25%      1100.000000      2.000000     50.000000      2.000000    4.239574e+03
50%      1278.500000      2.000000     72.000000      3.000000    5.412952e+03
75%      1690.000000      3.000000    120.000000      3.000000    7.285439e+03
max    566584.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [153]:
(df['total_sqft']/df['bhk']).describe()

count     13320.000000
mean        888.252704
std        4407.997588
min           0.250000
25%         473.333333
50%         553.000000
75%         627.125000
max      113316.800000
dtype: float64

In [154]:
df=df[((df['total_sqft']/df['bhk'])>=250)]
df.describe()

          total_sqft          bath         price           bhk  price_per_sqft
count   12683.000000  12683.000000  12683.000000  12683.000000    12683.000000
mean     2560.349681      2.571710    111.551380      2.668690     6289.809174
std     14180.603863      1.116941    151.581979      1.023222     4223.173288
min       250.000000      1.000000      8.000000      1.000000       34.753539
25%      1115.000000      2.000000     49.000000      2.000000     4191.869919
50%      1300.000000      2.000000     70.000000      3.000000     5281.690141
75%      1710.000000      3.000000    116.000000      3.000000     6933.333333
max    566584.000000     27.000000   3600.000000     27.000000   176470.588235

In [155]:
df.shape

(12683, 7)

In [156]:
df['price_per_sqft'].describe()

count     12683.000000
mean       6289.809174
std        4223.173288
min          34.753539
25%        4191.869919
50%        5281.690141
75%        6933.333333
max      176470.588235
Name: price_per_sqft, dtype: float64

In [157]:
df.isnull().sum()

area_type         0
location          0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [158]:
def remove_outlier_price(df):
    df_out=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        diff_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,diff_df],ignore_index=True)
    return df_out
df=remove_outlier_price(df)
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10488.000000  10488.000000  10488.000000  10488.000000    10488.000000
mean    1510.145404      2.477879     91.037194      2.583715     5659.977262
std      958.601888      1.022064     86.136294      0.945572     2289.970308
min      284.000000      1.000000      8.000000      1.000000     1212.353241
25%     1102.000000      2.000000     48.700000      2.000000     4225.352113
50%     1280.000000      2.000000     67.000000      2.000000     5165.338612
75%     1650.000000      3.000000    100.000000      3.000000     6437.149601
max    33018.000000     27.000000   2200.000000     27.000000    24509.803922

In [159]:
def bhk_outlier_removal(df):
    exclude_indices = np.array([])
    
    # Group by location
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        
        # Calculate mean and std for each BHK type
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df['price_per_sqft']),
                'std': np.std(bhk_df['price_per_sqft']),
                'count': bhk_df.shape[0]
            }
        
        # Identify outliers
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df['price_per_sqft'] < stats['mean']].index.values)
    
    # Drop outliers
    return df.drop(exclude_indices, axis='index')

In [160]:
df=bhk_outlier_removal(df)

In [161]:
df.shape

(7486, 7)

In [162]:
df.isnull().sum()

area_type         0
location          0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [163]:
df.head()

,area_type,location,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,1st Block Jayanagar,2850.0,4.0,428.0,4.0,15017.543860
1,Super built-up Area,1st Block Jayanagar,1630.0,3.0,194.0,3.0,11901.840491
2,Super built-up Area,1st Block Jayanagar,1875.0,2.0,235.0,3.0,12533.333333
3,Built-up Area,1st Block Jayanagar,1200.0,2.0,130.0,3.0,10833.333333
4,Super built-up Area,1st Block Jayanagar,1235.0,2.0,148.0,2.0,11983.805668

In [164]:
df.drop(columns=['price_per_sqft'],axis=1,inplace=True)

In [165]:
df.head()

              area_type             location  total_sqft  bath  price  bhk
0  Super built-up  Area  1st Block Jayanagar      2850.0   4.0  428.0  4.0
1  Super built-up  Area  1st Block Jayanagar      1630.0   3.0  194.0  3.0
2  Super built-up  Area  1st Block Jayanagar      1875.0   2.0  235.0  3.0
3        Built-up  Area  1st Block Jayanagar      1200.0   2.0  130.0  3.0
4  Super built-up  Area  1st Block Jayanagar      1235.0   2.0  148.0  2.0

In [166]:
df.to_csv('cleaned_data.csv')
df1.to_csv('Cleaned_without_area.csv')

In [167]:
X=df.drop(columns=['price'],axis=1)
y=df['price']

In [197]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.compose import make_column_transformer

In [198]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [199]:
print(X_train.shape)
print(X_test.shape)

(5988, 5)
(1498, 5)

In [200]:
from sklearn.preprocessing import OneHotEncoder

column_trans = make_column_transformer(
    (OneHotEncoder(sparse=False, handle_unknown='ignore'), ['location', 'area_type']),
    remainder='passthrough'
)

In [201]:
scaler=StandardScaler()

In [202]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()

In [203]:
pipe=make_pipeline(column_trans,scaler,regression)

In [204]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['location', 'area_type'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [205]:
l=df.columns
a=[]
for i in l:
    if "location" in i:
        a.append(i)
#print(a)
locations = [loc.replace('location_', '') for loc in a]
print(locations)

['location']

In [206]:
##prediction
y_pred=pipe.predict(X_test)

In [207]:
print(r2_score(y_test,y_pred))

0.8539653348209725

## Lasso

In [208]:
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
l=Lasso()
lasso=make_pipeline(column_trans,scaler,l)
lasso.fit(X_train,y_train)
y_pred=lasso.predict(X_test)
score=r2_score(y_test,y_pred)
print("r2 score",score)

r2 score 0.8435731140949343

## Ridge

In [209]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
r=Ridge()
ridge=make_pipeline(column_trans,scaler,r)
ridge.fit(X_train,y_train)
y_pred=ridge.predict(X_test)
score=r2_score(y_test,y_pred)
print("r2 score",score)

r2 score 0.8540143213199787

In [210]:
import pickle
with open('ridge_model.pkl', 'wb') as file:
    pickle.dump(ridge, file)

## Prediction

In [211]:
with open('ridge_model.pkl', 'rb') as file:
    model=pickle.load(file)

In [214]:
import pandas as pd

input_data = {
    'area_type': 'Super built-up Area',
    'location': 'Electronic City Phase II',
    'bhk': 2,
    'total_sqft': 1056,
    'bath': 2
}

input_df = pd.DataFrame([input_data])

In [215]:
# Use the same pipeline for prediction
y_pred = model.predict(input_df)

# Display the prediction
print(f"Predicted Price: {y_pred[0]}")

Predicted Price: 39.17230164403746